# Folders
.git/
.github/
.idea/
coverage/
docs/
lint/
node_modules/
src/*

# Configuration files
.codeclimate.yml
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
CODEOWNERS
jest.config.js
package-lock.json
prettier.config.js
rollup.config.js
tsconfig.json
typedoc.js

# Garbage
*.DS_Store
*.lock
*.log
