.idea/
.jest/
.github/
coverage/
node_modules/
src/
*.log
.codeclimate.yml
.eslintrc
.eslintignore
.gitignore
jest.config.js
.travis.yml
.editorconfig
package-lock.json
prettier.config.js
CODEOWNERS
**/.DS_Store
.npmrc
