# Folders
.git/
.github/
.idea/
coverage/
docs/
lint/
node_modules/
src/*

# Configuration files
.editorconfig
eslint.config.mjs
.gitignore
.npmignore
CODEOWNERS
jest.config.unit.mjs
package-lock.json
prettier.config.mjs
rollup.config.mjs
tsconfig.json
typedoc.config.mjs

# Garbage
*.DS_Store
*.lock
*.log
